<div class="band-of-blades-sheets band-of-blades-sheets__chat-item">
  <div class="band-of-blades-sheets__chat-item--title">
    {{entity}}
  </div>

  <div class="band-of-blades-sheets__chat-item--positions">
    <div class="band-of-blades-sheets__chat-item--position">
      {{source}}
    </div>
  </div>

  <div class="band-of-blades-sheets__chat-item--description">
    {{{description}}}
  </div>
</div>